[submodule "FEX"]
	path = FEX
	url = https://github.com/125hz/FEX.git
	branch = ios-port-2607
[submodule "wine"]
	path = wine
	url = https://github.com/125hz/wine.git
	branch = madeira-lgpl-125hz
[submodule "research/dxmt"]
	path = research/dxmt
	url = https://github.com/125hz/dxmt.git
	branch = ios-port
